{
	"plugins": [
	    [
	    	"transform-runtime", 
	    	{
	      		"helpers": false,  
	      		"polyfill": false,  
	      		"regenerator": true, 
	      		"moduleName": "babel-runtime"
	    	}
	    ]
  	],
	"presets": [
		"es2015",
		"es2017",
		"react",
		"stage-2"
	],
	"env": {
		"start": {
			"presets": [
				"react-hmre"
			]
		}
	}
}